
*, *::after, *::before {
	box-sizing: border-box;
}
:root{
	--orange: #ff891d;
	--lightgrey: #eeeeee;
	--silver: #f7f7f7;
	--ff: Avenir Next,sans-serif;
}
body{
  position: relative;
	background-color: var(--lightgrey);
	font-weight: 300;
	font-family: var(--ff);
  margin: 0;
  padding: 0;
	
}
p{ padding: 1rem 2rem;}
.flip-container{
position: fixed;
bottom: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
font-size: 1.8rem;
height: 60px;
background-color: var(--orange);
gap: .15em;
z-index: 1;
}
.flip-container .flip-outer-text{
  color: white;
  font-size: 1.2rem;
  padding: 0 10px;
}
.dots{
 color: white;
}
.flip-group{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flip-group-title{
	font-size: .8rem;
}
.flip-wrapper{
	display: flex;
	gap:.15em;
}
.flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
  border-radius: 4px;
}

.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: 20px;
  line-height: 1;
  padding: 5px;;
  overflow: hidden;
}

.top,
.flip-card .top-flip {
  background-color: #dbdbdb;
  border-top-right-radius:4px;
  border-top-left-radius:4px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

.bottom,
.flip-card .bottom-flip {
  background-color: white;
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.flip-card .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 350ms cubic-bezier(0.37, 0.01, 0.94, 0.35);
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 300ms cubic-bezier(0.15, 0.45, 0.28, 1) 350ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}
